<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hasil Prediksi</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style2.css') }}">
</head>
<body>
    <section id="hasil">
        <div>
            <h3 class='text-primary'>Hasil Klasifikasi Kondisi Kesehatan Mental Kamu : {{ hasil_prediksi }}</h3>
            </div>
        </div>
    </section>
    <section id="hasil">
        <div>
         <h4>
         DISCLAIMER!!
        </h4>
        </div>
    </h4>Hasil ini tidak sepenuhnya benar, terdapat beberapa kemungkinan bias dalam program ini, untuk dapat mengetahui informasi lengkapnya di sarankan untuk langsung menghubungi psikolog.</h4>
        </div>
</section>
    <section id="hasil">
        <nav>
            <div class="menu-mobile">
                <a href="">Menu</a>
            </div>
            <ul>
                <li><a href="/">KEMBALI</a></li>
            </ul>
            </div>
        </nav>
    </section>
</body>
</html>