<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediksi Mental Health</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style3.css') }}">
    
</head>
<body>
    <nav>
        <div class="menu-mobile">
            <a href="">Menu</a>
        </div>
        <ul>
            <li><a href="/">BERANDA</a></li>
            <li><a href="/prediksi">CLASSIFICATION</a></li>
            <li><a href="/chatbot">FINDME</a></li>
        </ul>
    </nav>
    <div class="header">
        <img src={{ url_for('static', filename="images/pict6.png" ) }} height="auto" width="auto"/>
    </div>
    <section id=prediksi>
        <div class="kolom">
            <h2>Keterangan :<h2>
            <h4>0 = Tidak</h4>
            <h4>1 = Ya</h4>
        </div>
    </section>

    <section id="input-par">
        <form method="POST", action="{{url_for('prediksi')}}">
            <div class="form">
                <label>Umur</label>
                <input type="text", name="um",
                placeholder="Masukkan umur anda", value='', required="required">
            </div>
            <div class="form">
                <label>Jenis Kelamin</label>
                <input type="text", name="jm",
                placeholder="Laki laki / Perempuan", value='', required="required">
            </div>
            <div class="form">
                <label>Apakah belakangan ini mood anda sedang tidak stabil?</label>
                <input type="text", name="Mood",
                placeholder="0/1", value='', required="required">
            </div>
            <div class="form">
                <label>Apakah belakangan ini anda sering pusing?</label>
                <input type="text", name="Sering_Pusing",
                placeholder="0/1", value='', required="required">
            </div>
            <div class="form">
                <label>Apakah anda sering menangis secara tiba tiba tanpa alasan?</label>
                <input type="text", name="Sering_Menangis",
                placeholder="0/1", value='', required="required">
            </div>
            <div class="form">
                <label>Apakah anda sering mengalami sulit tidur?</label>
                <input type="text", name="Sulit_Tidur",
                placeholder="0/1", value='', required="required">
            </div>
            <div class="form">
                <label>Apakah belakangan ini pola makan anda tidak teratur?</label>
                <input type="text", name="Pola_Makan",
                placeholder="0/1", value='', required="required">
            </div>
            <div class="form">
                <label>Apakah anda belakangan ini sering gelisah tanpa sebab?</label>
                <input type="text", name="Sering_Gelisah",
                placeholder="0/1", value='', required="required">
            </div>
            <div class="form">
                <input type="submit",
                value="SUBMIT", class="bg-blue">
            </div>
        </form>
    </section>
    
</body>
</html>